
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Send Email to Inbox :)</h1>
    <p>Goes directly to inbox with our ELITE SMTP :)</p>
 <form action="/name" method="post">
  <label>to Email :</label>
  <input type="email" name="email" value="" placeholder="@mail.com" required><br>
  <br>
  <label>From :</label>
  <input type="text" name="from" value="" placeholder="Facebook/Instagram" required><br>
  <br>
  <label>Subject :</label>
  <input type="text" name="subject" value="" placeholder="subject- email Header" required><br>
  <label>HTML letter:</label>
  <input type="message" name="html" value="" placeholder=">html>" required><br><br>
  <input type="submit" value="Send mail">
</form> 
</body>
</html>